body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("/public/wallpaper.jpg");
    background-size: auto;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#subtitle {
    width: 100%;
    margin-bottom: 25px;
    text-shadow: .5px .5px 0px #FFF8DC;
    -webkit-margin-before: 0;
}

h1 {
    margin: 0;
    font-size: 60px;
    text-shadow: 2px 3px 0px #FFF8DC;
    -webkit-margin-after: 0.67em;
}

.card {
    width: 17%;
    height: 400px;
    border: 15px double #2d1606;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
    background-image: url("/public/wood.jpg");
    background-size: contain;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    padding: 2px solid rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.home-images {
    width: 100%;
    height: auto;
    max-height: 70%;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #2d1606;
    -webkit-box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
}

.card-text {
    color: black;
    font-weight: bold;
    border-top: 5px solid #2d1606;
    background-color: #FFF8DC;
    -webkit-margin-after: 0;
    padding: 10px;
}

.home-description {
    font-style: italic;
}

.home-title {
    padding: 5px;
    -webkit-margin-before: 0;
}


.submit-button {
    border: 2px solid #2d1606;
    background-color: #FFF8DC;
    margin: 5px;
    padding: 10px;
    color: black;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
}

.button-section {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.image-data {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 20px;
}

.image-border {
    display: inline-block;
    background-image: url("/public/wood.jpg");
    background-size: contain;
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.image-image {
    max-width: 90%;
    max-height: 400px;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    border-left: 3px solid black;
    border-right: 2px solid black;
    -webkit-box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
}

.image-description {
    text-align: center;
    font-style: italic;
}

.image-title {
    font-size: 30px;
    -webkit-margin-after: 0;

}

.comment-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#input-comment-box {
    width: 60%;
    float: left;
}

#input-user-box {
    width: 30%;
    margin: 0;
    float: right;
}

#submit-button {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border: 2px solid #2d1606;
    background-color: #FFF8DC;
    padding: 10px;
    color: black;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
}

#text-input-comment {
    width: 100%;
    height: 20px;
}

#text-input-commenter {
    width: 100%;
    height: 20px;
}

.input-title {
    -webkit-margin-before: 0;
}

.comments {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 15px;
}


#upload-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

#file-input {
    margin-bottom: 10px;
}

.input-title {
    -webkit-margin-before: 0;
}

.input-description {
    -webkit-margin-before: 0;
}

.input-uploader {
    -webkit-margin-before: 0;
}
